@page "/matchme"
@using pokemon_project.Data
@inject PokemonService PokemonService

<h3>Find Your Pokémon Twin</h3>

<div class="card p-3 mb-3">
    <div class="mb-2">
        <label>Your Height</label>

        <!-- Input cm -->
        <div class="d-flex gap-2">           
            <InputNumber @bind-Value="heightCm" class="form-control" style="width: 120px"/>
            <small>cm</small>
        </div>

    </div>
    <!-- Input weight -->
    <div class="mb-2">
        <label>Your Weight (kg)</label>
        <InputNumber @bind-Value="weightKg" class="form-control" style="width: 120px"/>
    </div>

    <button class="btn btn-primary">Find My Pokémon</button>
</div>

<!-- Handle error and empty -->
@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}
else if (bestMatch != null)
{
    <!-- Display -->
    <div class="card p-3 mb-4">
        <h4>Your Closest Match:</h4>
        <strong>Height:</strong>
        <strong>Weight:</strong>
    </div>
}


@code {
    double heightCm;
    double weightKg;

    bool isLoading = false;
    string? error = null;

    Pokemon? bestMatch;
}