@page "/pokemon"
@using pokemon_project.Data
@inject PokemonService PokemonService


<h3>Pokémon Search</h3>

<!-- Search box -->
<div class="card p-3 mb-3">
    <input placeholder="Enter Pokemon name or ID..." />

    <button class="btn btn-primary">Search</button>
    <button class="btn btn-secondary">Random</button>
</div>

<!-- Display -->
<div class="card p-3">
    <h4 class="text-capitalize">@pokemon.Name (@pokemon.Id)</h4>

    <p><strong>Height:</strong> @pokemon.Height</p>
    <p><strong>Weight:</strong> @pokemon.Weight</p>
</div>


@code {
    Pokemon? pokemon;

}