@page "/top12"
@using pokemon_project.Data
@inject PokemonService PokemonService

<h3>Top 10 Pokémon</h3>

<div class="card p-3 mb-3">
    <h5>Filter by Stats</h5>

    <div class="row g-2">
        <div class="col-6 col-md-3">
            <label>Min HP</label>
            <InputNumber @bind-Value="minHp" class="form-control" />
        </div>

        <div class="col-6 col-md-3">
            <label>Min Attack</label>
            <InputNumber @bind-Value="minAttack" class="form-control" />
        </div>

        <div class="col-6 col-md-3">
            <label>Min Defense</label>
            <InputNumber @bind-Value="minDefense" class="form-control" />
        </div>

        <div class="col-6 col-md-3">
            <label>Min Speed</label>
            <InputNumber @bind-Value="minSpeed" class="form-control" />
        </div>
    </div>


</div>



@code {
    int minHp = 0;
    int minAttack = 0;
    int minDefense = 0;
    int minSpeed = 0;
}
