@page "/top12"
@using pokemon_project.Data
@inject PokemonService PokemonService

<h3>Top 10 Pokémon</h3>

<div class="card p-3 mb-3">
    <h5>Filter by Stats</h5>

    <div class="row g-2">
        <div class="col-6 col-md-3">
            <label>Min HP</label>
        </div>

        <div class="col-6 col-md-3">
            <label>Min Attack</label>
        </div>

        <div class="col-6 col-md-3">
            <label>Min Defense</label>
        </div>

        <div class="col-6 col-md-3">
            <label>Min Speed</label>
        </div>
    </div>


</div>



@code {

}
